<p id="notice"><%= notice %></p>

<h1 class="center">記事一覧</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>番号</th>
      <th>タイトル</th>
      <th>画像</th>
      <th>本文</th>
      <th>引用元URL</th>
      <th>引用元名前</th>
      <th>詳細</th>
      <th>変更</th>
      <th>削除</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_details.each do |post_detail| %>
      <tr>
        <td><%= post_detail.post_id %></td>
        <td><%= post_detail.title %></td>
        <td><%= post_detail.image %></td>
        <td><%= post_detail.content %></td>
        <td><%= post_detail.quotation_url %></td>
        <td><%= post_detail.quotation_name %></td>
        <td><%= link_to '詳細', post_detail ,:class => "btn btn-success" %></td>
        <td><%= link_to '変更', edit_post_detail_path(post_detail) ,:class => "btn btn-success" %></td>
        <td><%= link_to '削除', post_detail, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br><hr>
  <div class="center">
    <%= link_to '新規追加', new_post_detail_path ,:class => "btn btn-primary" %>
  </div>
