<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
      <tr>
        <th><%= f.label :名前 %><span class="text-danger">*</span></th>
        <td><%= f.text_field :name ,:class => "form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label :ふりがな（例：まさおかしき） %><span class="text-danger">*</span></th>
        <td><%= f.text_field :furigana ,:class => "form-control" %></td>
      </tr>

      <tr>
        <th><%= f.label :時代 %><span class="text-danger">*</span></th>
        <td>
          <% @periods.each do |period| %>
            <%= f.fields_for :people_periods do |pp| %>
              <% checked = period.people.exists?(@person.id) ? true : false %>
                <%= pp.check_box 'period.ids', { :name => 'person[period_ids][]', :checked => checked }, period.id, nil %>
              <%= period.name %>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :カテゴリー %><span class="text-danger">*</span></th>
        <td>
          <% @people_categories.each do |person_category| %>
            <%= f.fields_for :categories_people do |cp| %>
              <% checked = person_category.people.include?(@person.id) ? true : false %>
              <%= cp.check_box 'person_category.ids', { :name => 'person[category_ids][]', :checked => checked }, person_category.id, nil %>
                <%= person_category.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>


  <div class="center">
    <%= f.submit :class=>"btn" %>
    <%= link_to '戻る', people_path ,:class => "btn btn-primary" %>
  </div>
<% end %>
</div>
