<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table width300">
      <tr>
        <th><%= f.label :名前 %><span class="text-danger">（必須）</span></th>
        <td><%= f.text_field :name ,:class => "form-control" %></td>
      </tr>

      <tr>
        <th><%= f.label :説明 %><span class="text-danger">（必須）</span></th>]
        <td><%= f.text_area :description, rows: 10 ,:class => "form-control" %></td>
      </tr>

      <tr>
        <th><%= f.label :店のURL %></th>
        <td><%= f.text_field :url ,:class => "form-control" %></td>
      </tr>

      <tr>
        <th><%= f.label :カテゴリー %><span class="text-danger">（必須）</span></th>
        <td><% @shops_categories.each do |shop_category| %>
          <%= f.fields_for :categories_shop do |cs| %>
            <% checked = shop_category.shops.exists?(@shop.id) ? true : false %>
              <%= cs.check_box 'shop_category.ids', { :name => 'shop[category_ids][]', :checked => checked }, shop_category.id, nil %>
              <%= shop_category.name %>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :人物 %></th>
        <td>
          <% @people.each do |person| %>
            <%= f.fields_for :people_shops do |pp| %>
              <% checked = person.shops.exists?(@shop.id) ? true : false %>
                <%= pp.check_box 'person.ids', { :name => 'shop[person_ids][]', :checked => checked }, person.id, nil %>
              <%= person.name %>
            <% end %>
          <% end %>
        </td>
      </tr>


        <tr>
          <th><%= f.label :メイン画像 %><span class="text-danger">（必須）</span></th>
            <td><%= f.file_field :image %><br>
              <!-- <%= f.hidden_field :image_cache %> -->
              <% if @shop.image? %>
                <%= f.label :↓以前設定してた画像 %><br>
                <%= image_tag @shop.image.url %>
              <% end %>
            </td>
        </tr>

        <tr>
          <th><%= f.label :サブ画像 %></th>
          <td><%= f.file_field :subimage %><br>
            <!-- <%= f.hidden_field :image_cache %> -->
            <% if @shop.image? %>
              <%= f.label :↓以前設定してた画像 %><br>
              <%= image_tag @shop.subimage.url %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th><%= f.label :画像の引用元URL %></th>
          <td><%= f.text_field :image_quotation_url ,:class => "form-control" %></td>
        </tr>

        <tr>
          <th><%= f.label :記事の掲載元名称 %></th>
          <td><%= f.text_field :post_quotation_name ,:class => "form-control" %></td>
        </tr>

        <tr>
          <th><%= f.label :都道府県 %><span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :province ,:class => "form-control" %></td>
        </tr>

        <tr>
          <th><%= f.label :市区町村 %><span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :city ,:class => "form-control" %></td>
        </tr>

        <tr>
          <th><%= f.label :その他住所 %><span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :address1 ,:class => "form-control" %></td>
        </tr>

        <tr>
          <th><%= f.label :建物名 %></th>
          <td><%= f.text_field :address2 ,:class => "form-control" %></td>
        </tr>

        <tr>
          <th><%= f.label :メニュー %></th>
          <td><%= f.text_area :menu, rows: 5 ,:class => "form-control" %></td>
        </tr>
    </table>

  <div class="center">
    <%= f.submit :class=>"btn" %>
    <%= link_to '戻る', shops_path ,:class => "btn btn-primary" %>
  </div>
  <!-- <br><hr><br>
  <div class="center">
  <%= link_to '詳細', @person ,:class => "btn btn-success" %>
  <%= link_to '戻る', shops_path ,:class => "btn btn-primary" %>
</div><br><hr> -->

<% end %>
