<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <div class="center">
    <%= f.label :名前 %><br>
    <%= f.text_field :name ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :説明 %><br>
    <%= f.text_area :description ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :メイン画像 %><br>
    <%= f.text_field :image ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :サブ画像 %><br>
    <%= f.text_field :subimage ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :画像のURL %><br>
    <%= f.text_field :image_quotation_url ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :画像の引用元 %><br>
    <%= f.text_field :image_quotation_name ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :画像の掲載してあったサイトのURL %><br>
    <%= f.text_field :post_quotation_url ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :画像の掲載してあったサイトの名前 %><br>
    <%= f.text_field :post_quotation_name ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :住所 %><br>
    <%= f.text_field :address1 ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :「アパート名やマンション名」と「階数」 %><br>
    <%= f.text_field :address2 ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :経度 %><br>
    <%= f.number_field :latitude ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :緯度 %><br>
    <%= f.number_field :longitude ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :メニュー %><br>
    <%= f.text_area :menu ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.submit :class=>"btn" %>
  </div><br><hr><br>
  <div class="center">
  <%= link_to '詳細', @person ,:class => "btn btn-success" %>
  <%= link_to '戻る', shops_path ,:class => "btn btn-primary" %>
</div><b<hr>
<% end %>
