<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <div class="center">
    <%= f.label :名前 %><br>
    <%= f.text_field :name ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :説明 %><br>
    <%= f.text_area :description ,:class => "form-control" %>
  </div><br><hr><br>
  <table class="table table-hover">
    <% @shops_categories.each do |shop_category| %>
      <%= f.fields_for :categories_shop do |cs| %>
        <% checked = shop_category.shops.exists?(@shop.id) ? true : false %>
          <thead>
            <tr>
              <th><%= shop_category.name %></th>
              <td><%= cs.check_box 'shop_category.ids', { :name => 'shop[category_ids][]', :checked => checked }, shop_category.id, nil %></td>
            </tr>
          </thead>
      <% end %>
    <% end %>
  </table>
  <div class="center">
    <%= f.label :URL %><br>
    <%= f.text_field :url ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :メイン画像 %><br>
    <%= f.file_field :image %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :サブ画像 %><br>
    <%= f.file_field :subimage %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :画像の引用元URL %><br>
    <%= f.text_field :image_quotation_url ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :画像の引用元名称 %><br>
    <%= f.text_field :image_quotation_name ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :記事の掲載元URL %><br>
    <%= f.text_field :post_quotation_url ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :記事の掲載元名称 %><br>
    <%= f.text_field :post_quotation_name ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :都道府県 %><br>
    <%= f.text_field :province ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :市区町村 %><br>
    <%= f.text_field :city ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :その他住所 %><br>
    <%= f.text_field :address1 ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :建物名 %><br>
    <%= f.text_field :address2 ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.label :メニュー %><br>
    <%= f.text_area :menu ,:class => "form-control" %>
  </div><br><hr><br>
  <div class="center">
    <%= f.submit :class=>"btn" %>
  </div><br><hr><br>
  <div class="center">
  <%= link_to '詳細', @person ,:class => "btn btn-success" %>
  <%= link_to '戻る', shops_path ,:class => "btn btn-primary" %>
</div><b<hr>

<% end %>
