                <%= form_for(@shop) do |f| %>
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-8">
                        <h4 class="page-header">SHOP情報</h4>
                          <%= f.text_field :name ,:class => "form-control input-lg", :placeholder =>"名前*" %><br>
                          <%= f.text_area :description, rows: 5 ,:class => "form-control input-lg" ,:placeholder =>"説明*" %><br>
                          <%= f.text_field :url ,:class => "form-control input-lg" ,:placeholder =>"店のURL" %>

                        <h4 class="page-header">関連</h4>
                          <h5 class="page-header">カテゴリー<span class="text-danger">*</span></h5>
                            <% @shops_categories.each do |shop_category| %>
                              <%= f.fields_for :categories_shop do |cs| %>
                                <% checked = shop_category.shops.exists?(@shop.id) ? true : false %>
                                <%= cs.check_box 'shop_category.ids', { :name => 'shop[category_ids][]', :checked => checked }, shop_category.id, nil %>
                                <%= shop_category.name %>
                              <% end %>
                            <% end %>

                        <h5 class="page-header">人物</h5>
                          <% @people.each do |person| %>
                            <%= f.fields_for :people_shops do |pp| %>
                              <% checked = person.shops.exists?(@shop.id) ? true : false %>
                              <%= pp.check_box 'person.ids', { :name => 'shop[person_ids][]', :checked => checked }, person.id, nil %>
                              <%= person.name %>
                            <% end %>
                          <% end %>

                        <h4 class="page-header">画像</h4>
                          <h5 class="page-header">メイン画像<span class="text-danger">*</span></h5>
                            <%= f.file_field :image %>
                              <% if @shop.image? %>
                                <%= f.label :↓以前設定してた画像 %><br>
                                <%= image_tag @shop.image.url ,:class => "previous-image" %>
                              <% end %>

                          <h5 class="page-header">サブ画像<span class="text-danger">*</span></h5>
                            <%= f.file_field :subimage %><br>
                              <% if @shop.subimage? %>
                                <%= f.label :↓以前設定してた画像 %><br>
                                <%= image_tag @shop.subimage.url ,:class => "previous-image" %>
                              <% end %>

                            <%= f.text_field :image_quotation_url ,:class => "form-control input-lg" ,:placeholder =>"画像の引用元URL" %><br>
                            <%= f.text_field :image_quotation_name ,:class => "form-control input-lg" ,:placeholder =>"画像の引用元名称" %>

                        <h4 class="page-header">住所</h4>
                          <%= f.text_field :province ,:class => "form-control input-lg" ,:placeholder =>"都道府県*" %><br>
                          <%= f.text_field :city ,:class => "form-control input-lg" ,:placeholder =>"市区町村*" %><br>
                          <%= f.text_field :address1 ,:class => "form-control input-lg" ,:placeholder =>"その他の住所*" %><br>
                          <%= f.text_field :address2 ,:class => "form-control input-lg" ,:placeholder =>"建物名" %><br>

                        <h4 class="page-header">メニュー</h4>
                          <%= f.text_area :menu, rows: 5 ,:class => "form-control input-lg" ,:placeholder =>"メニュー*" %>
                      </div>

                      <div class="col-sm-4">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">店舗登録時の注意事項</h3>
                          </div>
                          <div class="panel-body">
                            <ul>
                              <li>見出しや入力欄に<code>*</code>がついてるものは、必ず入力する</li>
                              <li>店のURLは食べログ等ではなく、店舗自身が運営してる独自のURLを選択してください（例：http://aaabbbccc.com）</li>
                              <li>カテゴリーと人物は、複数ある場合は、すべて選択する</li>
                              <li>メイン画像は、店舗の画像を選択してください<code>横長の画像を使う</code></li>
                              <li>サブ画像は、料理の画像を選択してください<code>横長の画像を使う</code></li>
                              <li>画像の引用は、できる限り「食べログ」を使う。なければ他でも可。</li>
                              <li>市区町村を登録するときに「京都市東山区」このような住所が時々あるので、市区町村には「京都市」だけを登録する</li>
                              <li>メニューは、店で扱ってる主なメニューではなく、店が提供してる歴食だけを登録する</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <%= f.submit :class=>"btn" %>
                  </div>
                <% end %>
