<p id="notice"><%= notice %></p>

<h1 class="text-center">店舗一覧</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>詳細</th>
      <th>住所１</th>
      <th>住所2</th>
      <th>詳細</th>
      <th>変更</th>
      <th>削除</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.description %></td>
        <td><%= shop.address1 %></td>
        <td><%= shop.address2 %></td>
        <td><%= link_to '詳細', shop ,:class => "btn btn-success" %></td>
        <td><%= link_to '変更', edit_shop_path(shop) ,:class => "btn btn-success" %></td>
        <td><%= link_to '削除', shop, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="center">
  <tr>
    <td><%= link_to 'New Shop', new_shop_path ,:class => "btn btn-primary" %></td>
    <td><%= link_to 'menu', "menu" ,:class => "btn btn-primary" %></td>
    <td><%= link_to "Webサイト表示", "/#/home?showLogin=true",:class => "btn btn-success" %></td>
  </tr>
</div>
