<p id="notice"><%= notice %></p><hr><br>
<h1 class="center">店舗詳細</h1>
<br><hr><br>
<p class="center">
  <big><strong>名前</strong></big><br>
  <%= @shop.name %>
</p><br><hr><br>

<p class="center">
  <big><strong>説明</strong></big><br>
  <%= @shop.description %>
</p><br><hr><br>

<p class="center">
  <big><strong>URL</strong></big><br>
  <%= @shop.url %>
</p><br><hr><br>

<p class="center">
  <big><strong>メイン画像</strong></big><br>
  <%= @shop.image %>
</p><br><hr><br>

<p class="center">
  <big><strong>サブ画像</strong></big><br>
  <%= @shop.subimage %>
</p><br><hr><br>

<p class="center">
  <big><strong>画像の引用元URL</strong></big><br>
  <%= @shop.image_quotation_url %>
</p><br><hr><br>

<p class="center">
  <big><strong>画像の引用元名称</strong></big><br>
  <%= @shop.image_quotation_name %>
</p><br><hr><br>

<p class="center">
  <strong>記事の掲載元URL</strong>
  <%= @shop.post_quotation_url %>
</p><br><hr><br>

<p class="center">
  <strong>記事の掲載元名称</strong>
  <%= @shop.post_quotation_name %>
</p><br><hr><br>

<p class="center">
  <big><strong>都道府県</strong></big><br>
  <%= @shop.province %>
</p><br><hr><br>

<p class="center">
  <big><strong>市区町村</strong></big><br>
  <%= @shop.city %>
</p><br><hr><br>

<p class="center">
  <big><strong>その他住所</strong></big><br>
  <%= @shop.address1 %>
</p><br><hr><br>

<p class="center">
  <big><strong>建物名</strong></big><br>
  <%= @shop.address2 %>
</p><br><hr><br>

<p class="center">
  <big><strong>経度</strong></big><br>
  <%= @shop.latitude %>
</p><br><hr><br>

<p class="center">
  <big><strong>緯度</strong></big><br>
  <%= @shop.longitude %>
</p><br><hr><br>

<p class="center">
  <big><strong>メニュー</strong></big><br>
  <%= @shop.menu %>
</p><br><hr><br>

<div class="center">
  <%= link_to '詳細', @person ,:class => "btn btn-success" %>
  <%= link_to '戻る', shops_path ,:class => "btn btn-primary" %>
</div><br><hr>
