<div class="container">
  <div class="row">
    <h1>店舗詳細</h1>
    <table class="table">
      <tr>
        <td class="col-md-3 col-xs-3">名前</th>
        <td class="col-md-9 col-xs-9"><%= @shop.name %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">説明</th>
        <td class="col-md-9 col-xs-9"><%= @shop.description %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">店のURL</th>
        <td class="col-md-9 col-xs-9"><%= @shop.url %></td>
      </tr>

      <tr>
        <%= form_for(@shop) do |f| %>
        <td class="col-md-3 col-xs-3">カテゴリー<p class="show-content">*ここでは変更できません</p></th>
        <td class="col-md-9 col-xs-9">
          <% @shops_categories.each do |shop_category| %>
            <%= f.fields_for :categories_shop do |cs| %>
              <% checked = shop_category.shops.exists?(@shop.id) ? true : false %>
                <%= cs.check_box 'shop_category.ids', { :name => 'shop[category_ids][]', :checked => checked }, shop_category.id, nil %>
                <%= shop_category.name %>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">人物<p class="show-content">*ここでは変更できません</p></th>
        <td class="col-md-9 col-xs-9">
            <% @people.each do |person| %>
              <%= f.fields_for :people_shops do |pp| %>
                <% checked = person.shops.exists?(@shop.id) ? true : false %>
                  <%= pp.check_box 'person.ids', { :name => 'shop[person_ids][]', :checked => checked }, person.id, nil %>
                  <%= person.name %>
              <% end %>
            <% end %>
          </td>
          <% end %>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">メイン画像</th>
        <td class="col-md-9 col-xs-9">
          <% if @shop.image? %>
            <%= image_tag @shop.image.url ,:class => "previous-image" %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">サブ画像</th>
        <td class="col-md-9 col-xs-9">
          <% if @shop.subimage? %>
            <%= image_tag @shop.subimage.url ,:class => "previous-image" %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">画像の引用元URL</th>
        <td class="col-md-9 col-xs-9"><%= @shop.image_quotation_url %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">画像の引用元名称</th>
        <td class="col-md-9 col-xs-9"><%= @shop.image_quotation_name %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">都道府県</th>
        <td class="col-md-9 col-xs-9"><%= @shop.province %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">市区町村</th>
        <td class="col-md-9 col-xs-9"><%= @shop.city %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">その他住所</th>
        <td class="col-md-9 col-xs-9"><%= @shop.address1 %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">建物名</th>
        <td class="col-md-9 col-xs-9"><%= @shop.address2 %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">経度</th>
        <td class="col-md-9 col-xs-9"><%= @shop.latitude %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">緯度</th>
        <td class="col-md-9 col-xs-9"><%= @shop.longitude %></td>
      </tr>

      <tr>
        <td class="col-md-3 col-xs-3">メニュー</th>
        <td class="col-md-9 col-xs-9"><%= @shop.menu %></td>
      </tr>
    </table>

      <div class="col-md-6"><%= link_to '戻る', shops_path,:class => "btn btn-lg btn-primary btn-block" %></div>
      <div class="col-md-6"><%= link_to '変更', edit_shop_path(@shop) ,:class => "btn btn-lg btn-success btn-block" %></div>
    </tr>
  </div>
</div>
