        <div class="container">
          <div class="row">
            <h2 class="center">ログイン</h2>
            <div class="text-center login-form">
              <hr>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <%= f.email_field :email, autofocus: true ,:class => "form-control input-lg", :placeholder => "メールアドレス"  %><br>
                <%= f.password_field :password, autocomplete: "off" ,:class => "form-control input-lg", :placeholder => "パスワード" %>

                <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %><%= f.label :パスワードを記憶する %><br>
                <% end -%>

                  <%= f.submit "ログイン" ,:class => "action btn btn-lg btn-success btn-block" %>
              <% end %>
            <hr>
            </div>
          </div>
        </div>
