<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Favorite count:</strong>
  <%= @post.favorite_count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Quotation url:</strong>
  <%= @post.quotation_url %>
</p>

<p>
  <strong>Quotation name:</strong>
  <%= @post.quotation_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
