<!DOCTYPE html>
<html>
<head>
  <title>歴食</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="robots" content="noindex">
</head>

 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= link_to image_tag('logo.png') ,'/menu' ,:class => "height65" %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <!-- <li><%= link_to "SHOP管理画面", shops_path %></li>
              <li><%= link_to "PEOPLE管理画面", people_path %></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SHOP管理画面<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "SHOPトップ", shops_path %></li>
                  <li><%= link_to '店舗登録', new_shop_path %></li>
                  <!-- <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li> -->
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PEOPLE管理画面<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "PEOPLEトップ", people_path %></li>
                  <li><%= link_to '人物登録', new_person_path %></li>
                  <!-- <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li> -->
                </ul>
              </li>
            </ul>
          <% else %>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to "アカウント登録", "/users/sign_up" %></li>
                <li><%= link_to "ログアウト", "/users/sign_out" %></li>
              <% else %>
                <li><%= link_to "ログイン", "/users/sign_in" %></li>
              <% end %>
            <li class="active"><%= link_to "WEBサイト", "/#/home?showLogin=true" %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<body>

<div class="top-padding-30">
  <%= yield %>
</div>

</body>
</html>
